/* Nav mouseover */
.nav ul {
    list-style: none;
    background-color: blue;
    text-align: center;
    padding: .5rem;
}
.nav ul li {
    display: inline;
    margin: 1rem;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight:bolder;
}
.nav ul li:hover {
    color: gold;
}

/* Button dropdown */
.dropDown button {
    border-radius: 5px;
    width: 9rem;
}
.dropDown ul {
   list-style: none;
   border: 2px black solid;
   border-radius: 5px;
   width: 9rem;
}
.dropDown ul li {
    margin-left: -2em;
}
.dropDown ul li:hover {
    background-color: gray;
    margin-left: -2em;
    border-radius: 5px;
}
.dropDown li, 
.dropDown button {
    padding: .25rem;
    margin: .25rem;
    width: 10rem;
};

/* Mobile Dot Nav */
.dotNav ul {
    list-style-type: none;

}
.dotNav ul li {
    display: flex;
    list-style: none;
    gap: 1em;
    margin: .5em;
}
.dotNav ul li span {
    line-height: 1.5rem;
    font-size: 1.5rem;
}
.dotNav ul li div {
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5rem;
    font-size:1.5em;
}
.dotNav ul li div:hover {
    background-color: orange;
}
.dotNav ul li:hover {
    font-weight: bolder;
}
.dotNav button {
    border-radius: 50%;
    background-color: blue;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
    padding: .5em;

}

/* Image Carosel - Html & CSS only*/
:root {
    --carousel-ht: 45vh;
    --carousel-wt: 35vw;
    --border-radius: 1em;
    --container-ht: calc(0.95 * var(--carousel-ht));
    --container-wt: calc(0.90 * var(--carousel-wt));
    --slide-wt: calc(0.90 * var(--carousel-wt));
}
#outerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--carousel-ht);
    width: var(--carousel-wt);
    border-radius: var(--border-radius);
    margin: 3rem;
    padding: 1rem;
    background: lightgray;
}
#container {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior:auto;
    overflow: hidden;
    height: var(--container-ht);
    width: var(--container-wt);
    border-radius: var(--border-radius);
    background-color: white;
}
#container > div {
    display: flex;
}
#container > div > div {
    scroll-snap-align: start;
    position: relative;
    padding-top: 0.5em;
    flex-shrink: 0;
    height: var(--carousel-ht);
    width: var(--slide-wt);
}
#tabs {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    flex-shrink: 5;
    background-color:lightgray;
    
    gap: 1.5rem;
}
#tabs > a {
    text-decoration: none;
}
div > .slides {
    position: relative;
    animation-name: scroll;
    animation-duration: 20s;
    animation-timing-function:step-start;
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-31.5vw);
    }
    40% {
        transform: translateX(-63.0vw);
    }
    60% {
        transform: translateX(-94.5vw);
    }
    80% {
        transform: translateX(-126.0vw);
    }
    99% {
        transform: translateX(-157.5vw);
    }
    100% {
        transform: translateX(159.0vw);
    }
}
.slides > a.back {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0%;
}
.slides > a.forward {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0%;
}
#tabs > a div.dot,
.slides > a.back,
.slides > a.forward
 {
   background-color: lightblue;
   border: .15em solid black;
   width: 1em;
   height: 1rem;
   border-radius: 50%;
}
#tabs > a div.dot:hover, 
#tabs > a div.dot:active, 
.slides > a.back,
.slides > a.forward   {
    background-color: rgb(224, 146, 224);
    height: 1.2rem;
    width: 1.2rem;
}


